[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
numpy = "*"
blosc = "*"
intern = "*"


[dev-packages]

pylint = "*"
mypy = "*"
wheel = "*"
twine = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"
